In [1]:
from PIL import Image
import numpy as np
import pandas as pd
from tqdm import tqdm
import os
import scipy as sc
import cv2 as cv
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
Image.MAX_IMAGE_PIXELS = None

ModuleNotFoundError: No module named 'PIL'

In [2]:
df = pd.read_csv('Farinotti_mean_thickness_RGI_ID_2.csv')

df = df[[
    'RGIId',
    'Farinotti Mean Thickness'
]]
df['region'] = df['RGIId'].str[6:8]
df = df.sort_values('RGIId')
df = df.dropna()



dfy = pd.DataFrame()
for region_number in range(1,20,1):
    if len(str(region_number)) == 1:
        N = 1
        (region_number) = str(region_number).zfill(N + len(str(region_number)))
    else:
        str(region_number) == str(region_number)
    dft = df[df['region'] == str(region_number)]
    
    extracted_count = len(dft)
    mean_thickness = dft['Farinotti Mean Thickness'].mean()
    median_thickness = dft['Farinotti Mean Thickness'].median()
    
    dfy = pd.concat([dfy, pd.Series(region_number, name = 'mean thickness')])
    dfy = dfy.reset_index()
    dfy = dfy.drop('index', axis = 1)
    # dfy = dfy.drop('0', axis = 1)
    dfy.loc[dfy.index[-1], 'region'] = region_number
    dfy.loc[dfy.index[-1], 'extracted mean'] = mean_thickness
    dfy.loc[dfy.index[-1], 'extracted median'] = median_thickness
    dfy.loc[dfy.index[-1], 'extracted count'] = extracted_count

dfy.loc[dfy.index[0], 'FR mean'] = 218
dfy.loc[dfy.index[1], 'FR mean'] = 72
dfy.loc[dfy.index[2], 'FR mean'] = 270
dfy.loc[dfy.index[3], 'FR mean'] = 210
dfy.loc[dfy.index[4], 'FR mean'] = 175
dfy.loc[dfy.index[5], 'FR mean'] = 341
dfy.loc[dfy.index[6], 'FR mean'] = 220
dfy.loc[dfy.index[7], 'FR mean'] = 101
dfy.loc[dfy.index[8], 'FR mean'] = 283
dfy.loc[dfy.index[9], 'FR mean'] = 56
dfy.loc[dfy.index[10], 'FR mean'] = 61
dfy.loc[dfy.index[11], 'FR mean'] = 48
dfy.loc[dfy.index[12], 'FR mean'] = 66
dfy.loc[dfy.index[13], 'FR mean'] = 85
dfy.loc[dfy.index[14], 'FR mean'] = 59
dfy.loc[dfy.index[15], 'FR mean'] = 42
dfy.loc[dfy.index[16], 'FR mean'] = 181
dfy.loc[dfy.index[17], 'FR mean'] = 63
dfy.loc[dfy.index[18], 'FR mean'] = 349


dfy.loc[dfy.index[0], 'FR area'] = 86677
dfy.loc[dfy.index[1], 'FR area'] = 14629
dfy.loc[dfy.index[2], 'FR area'] = 104920
dfy.loc[dfy.index[3], 'FR area'] = 40860
dfy.loc[dfy.index[4], 'FR area'] = 89651
dfy.loc[dfy.index[5], 'FR area'] = 11052
dfy.loc[dfy.index[6], 'FR area'] = 33932
dfy.loc[dfy.index[7], 'FR area'] = 2947
dfy.loc[dfy.index[8], 'FR area'] = 51551
dfy.loc[dfy.index[9], 'FR area'] = 2399
dfy.loc[dfy.index[10], 'FR area'] = 2091
dfy.loc[dfy.index[11], 'FR area'] = 1305
dfy.loc[dfy.index[12], 'FR area'] = 49295
dfy.loc[dfy.index[13], 'FR area'] = 33561
dfy.loc[dfy.index[14], 'FR area'] = 14734
dfy.loc[dfy.index[15], 'FR area'] = 2341
dfy.loc[dfy.index[16], 'FR area'] = 29368
dfy.loc[dfy.index[17], 'FR area'] = 1161
dfy.loc[dfy.index[18], 'FR area'] = 132771

dfy.loc[dfy.index[0], 'FR count'] = 27108
dfy.loc[dfy.index[1], 'FR count'] = 18862
dfy.loc[dfy.index[2], 'FR count'] = 4549
dfy.loc[dfy.index[3], 'FR count'] = 7422
dfy.loc[dfy.index[4], 'FR count'] = 19306
dfy.loc[dfy.index[5], 'FR count'] = 567
dfy.loc[dfy.index[6], 'FR count'] = 1615
dfy.loc[dfy.index[7], 'FR count'] = 3417
dfy.loc[dfy.index[8], 'FR count'] = 1069
dfy.loc[dfy.index[9], 'FR count'] = 5144
dfy.loc[dfy.index[10], 'FR count'] = 3927
dfy.loc[dfy.index[11], 'FR count'] = 1887
dfy.loc[dfy.index[12], 'FR count'] = 54429
dfy.loc[dfy.index[13], 'FR count'] = 27986
dfy.loc[dfy.index[14], 'FR count'] = 13119
dfy.loc[dfy.index[15], 'FR count'] = 2940
dfy.loc[dfy.index[16], 'FR count'] = 15908
dfy.loc[dfy.index[17], 'FR count'] = 3537
dfy.loc[dfy.index[18], 'FR count'] = 2751
dfy['FR mean'] = dfy['FR mean'].astype(int)

dfy['FR area'] = dfy['FR area'].astype(int)

dfy['FR count'] = dfy['FR count'].astype(int)
dfy['extracted count'] = dfy['extracted count'].astype(int)

dfy = dfy[[
    'region',
    'extracted mean',
    # 'extracted median',
    'FR mean',
    'FR area',
    'FR count',
    'extracted count'
]]
df = dfy

In [3]:
df['"avg" area'] = df['FR area'] / df['FR count']
df['residual'] = df['extracted mean'] - df['FR mean']
df['ratio'] = df['extracted mean'] / df['FR mean']
df.sort_values('ratio', ascending = False)

,region,extracted mean,FR mean,FR area,FR count,extracted count,"""avg"" area",residual,ratio
15,16,23.361094,42,2341,2940,2939,0.796259,-18.638906,0.556217
11,12,22.077926,48,1305,1887,1887,0.691574,-25.922074,0.459957
14,15,26.130335,59,14734,13119,13119,1.123104,-32.869665,0.442887
8,09,120.449643,283,51551,1069,1069,48.223573,-162.550357,0.425617
9,10,21.759381,56,2399,5144,5144,0.466369,-34.240619,0.388560
6,07,84.330272,220,33932,1615,1615,21.010526,-135.669728,0.383319
12,13,25.281591,66,49295,54429,54428,0.905675,-40.718409,0.383054
10,11,20.938068,61,2091,3927,3927,0.532468,-40.061932,0.343247
1,02,24.189294,72,14629,18862,18855,0.775581,-47.810706,0.335962
7,08,32.861840,101,2947,3417,3417,0.862452,-68.138160,0.325365
17,18,19.432040,63,1161,3537,3537,0.328244,-43.567960,0.308445
13,14,25.266183,85,33561,27986,27986,1.199207,-59.733817,0.297249
2,03,70.448004,270,104920,4549,4549,23.064410,-199.551996,0.260919
3,04,51.127908,210,40860,7422,7415,5.505255,-158.872092,0.243466
18,19,75.855297,349,132771,2751,2743,48.262814,-273.144703,0.217350
4,05,36.981231,175,89651,19306,19306,4.643686,-138.018769,0.211321
5,06,60.581464,341,11052,567,567,19.492063,-280.418536,0.177658
16,17,25.464611,181,29368,15908,15908,1.846115,-155.535389,0.140688
0,01,30.544886,218,86677,27108,27108,3.197469,-187.455114,0.140114

In [4]:
pth_2 = '/home/simonhans/data/prethicktor/RGI/rgi60-attribs/'
# pth_2 = '/data/fast1/glacierml/data/RGI/rgi60-attribs/'
RGI_extra = pd.DataFrame(columns = ['Farinotti Mean Thickness'])
for file in tqdm(os.listdir(pth_2)):
    file_reader = pd.read_csv(pth_2 + file, encoding_errors = 'replace', on_bad_lines = 'skip')
    RGI_extra = pd.concat([RGI_extra, file_reader], ignore_index = True)

    # select only RGI data that was used to train the model   
RGI = RGI_extra[[
'RGIId',
    'Farinotti Mean Thickness'
]]
print(RGI)

100%|██████████| 19/19 [00:02<00:00,  8.06it/s]

                 RGIId Farinotti Mean Thickness
0       RGI60-07.00001                      NaN
1       RGI60-07.00002                      NaN
2       RGI60-07.00003                      NaN
3       RGI60-07.00004                      NaN
4       RGI60-07.00005                      NaN
...                ...                      ...
216496  RGI60-17.15904                      NaN
216497  RGI60-17.15905                      NaN
216498  RGI60-17.15906                      NaN
216499  RGI60-17.15907                      NaN
216500  RGI60-17.15908                      NaN

[216501 rows x 2 columns]

In [8]:
pth_1 = '/home/simonhans/data/prethicktor/RGI/outlines/Farinotti/'
# rootdir = '~'

df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
df5 = pd.DataFrame()
df6 = pd.DataFrame()
for region_number in range(1,20,1)[:1]:
            
    if len(str(region_number)) == 1:
        N = 1
        region_number = str(region_number).zfill(N + len(str(region_number)))
    else:
        str(region_number) == str(region_number)
        
    region_folder = pth_1 + 'RGI60-' + str(region_number) + '/'
    for file in tqdm(os.listdir(region_folder)[6:7]):
        # print(file)
        im = Image.open(region_folder + file)
        # im.show()
        
        imarray = np.array(im)
        df = pd.DataFrame(imarray)
        df = df.replace(0.0, np.nan)        
        
        
        mean_glacier_thickness_1 = pd.Series(df.mean().mean())
        df1 = pd.concat(
            [df1, mean_glacier_thickness_1]
        )
        
        
        mean_glacier_thickness_2 = pd.Series(np.nanmean(df.to_numpy()))
        df2 = pd.concat(
            [df2, mean_glacier_thickness_2]
        )
        
        max_thickness = pd.Series(df.max())
        df3 = pd.concat(
            [df3, max_thickness]
        )
                

        masked_data = np.ma.masked_array(df,np.isnan(df))
        data_mean = np.mean(masked_data,axis=1)       
        mean_glacier_thickness_3 = pd.Series(np.mean((data_mean)))
        df4 = pd.concat(
            [df4, mean_glacier_thickness_3]
        )
        
        mean_glacier_thickness_4 = pd.Series(sc.nanmean(df))
        df5 = pd.concat(
            [df5, mean_glacier_thickness_4]
        )
        
        
        image = cv.imread(region_folder + file, 2)
        # cv.imshow('image', image)
        image = pd.DataFrame(np.asarray(image,dtype = np.float64))
        # image = image.replace(0.0, np.nan)
        print(image)
        # dfr = pd.DataFrame(image)
        # dfr = dfr.replace(0.0, np.nan)
        
        mean_glacier_thickness_5 = pd.Series(np.nanmean(image))
        df6 = pd.concat(
            [df6, mean_glacier_thickness_5]
        )
        break
    break


# mean_glacier_thickness_1 = df.mean().mean()

# mean_glacier_thickness_2 = np.nanmean(df.to_numpy())

# mean by hand = np.nansum(
#     mean_glacier_thickness) / np.count_nonzero(~np.isnan(mean_glacier_thickness))

        
#         RGI['Farinotti Mean Thickness'].loc[RGI['RGIId'] == file[:14]] = mean_glacier_thickness
    #     break
    # break

  0%|          | 0/1 [00:00<?, ?it/s]/home/simonhans/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: DeprecationWarning: scipy.nanmean is deprecated and will be removed in SciPy 2.0.0, use numpy.nanmean instead
  0%|          | 0/1 [00:00<?, ?it/s]

    0   1   2         3          4          5          6          7   \
0  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
1  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
2  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
3  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
4  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
5  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
6  NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
7  NaN NaN NaN       NaN        NaN        NaN   9.462518        NaN
8  NaN NaN NaN       NaN        NaN   9.758720  11.490746  13.175554
9  NaN NaN NaN       NaN   8.731596  11.435295  13.096128  14.736694
10 NaN NaN NaN  7.854578  10.131975  12.011647  14.058306  15.532567
11 NaN NaN NaN  9.115730   9.650967  12.575769  14.382990  16.206635
12 NaN NaN NaN       NaN        NaN  11.961201  13.803455  15.185172
13 NaN NaN NaN       NaN        NaN  12.581996  13.050870  14.083580
14 NaN NaN NaN       NaN        NaN  10.545610  11.926188  12.154897
15 NaN NaN NaN       NaN        NaN        NaN   9.780224  10.294670
16 NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
17 NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
18 NaN NaN NaN       NaN        NaN        NaN        NaN        NaN
19 NaN NaN NaN       NaN        NaN        NaN        NaN        NaN

           8          9          10         11         12         13  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN  13.521737
5         NaN        NaN  10.262512  10.785267  15.982581  16.027338
6   12.022848  13.069327  14.066858  15.360126  16.780600  17.936188
7   13.700418  14.956563  16.607351  17.973005  19.175133  19.978912
8   15.387640  16.789419  18.762053  19.854383  20.867485  21.462687
9   16.548105  17.866232  19.655882  20.453587  21.302513  22.014759
10  16.935795  18.294514  19.766418  20.255556  20.681471  21.373686
11  17.132015  18.103168  18.751333  19.143179  19.370329  20.016003
12  15.462820  16.432426  16.649590  17.176258  17.376341  18.187260
13  13.830876  14.027045  13.987370  14.848053  15.333096  15.890517
14  11.458235   9.714238  11.508890  12.794482  13.507506  13.417652
15        NaN        NaN        NaN        NaN        NaN  10.892843
16        NaN        NaN        NaN        NaN        NaN        NaN
17        NaN        NaN        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN        NaN        NaN
19        NaN        NaN        NaN        NaN        NaN        NaN

           14         15         16         17         18         19  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN  10.661460  11.304351  12.296939  12.884524
3   11.360977  12.104439  13.393823  14.043985  14.874982  16.527075
4   14.110456  14.569558  15.474839  16.468142  17.417839  18.992228
5   16.174435  16.871273  17.662291  18.618097  19.495289  20.553904
6   18.326643  18.987125  19.711683  20.546331  21.074442  21.102285
7   20.466398  21.241001  21.749434  22.251560  22.019728  20.494234
8   21.999506  22.620079  22.772005  22.910879  22.183884  19.384760
9   22.471130  22.897238  22.533413  22.335140  21.367188  17.979095
10  21.740877  21.744068  21.067513  20.687582  19.767498  17.023399
11  20.183744  20.076092  19.334343  19.173405  18.445301  16.513155
12  18.302185  18.153934  17.846687  18.262539  17.954521  16.508999
13  15.912107  16.158764  16.629339  17.739161  17.862637  16.535683
14  13.514346  14.396007  15.680157  17.330563  17.278486  16.359673
15  11.094153  13.612951  14.904527  16.085463  16.175240  13.542285
16        NaN  14.220446  14.365634  15.553556  13.670376        NaN
17        NaN        NaN        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN        NaN        NaN
19        NaN        NaN        NaN        NaN        NaN        NaN

           20         21         22         23         24  25  26
0         NaN        NaN        NaN        NaN        NaN NaN NaN
1         NaN        NaN        NaN        NaN        NaN NaN NaN
2   14.775830  15.135551  15.009418  12.646154        NaN NaN NaN
3   17.998817  18.681612  17.393898  15.673165        NaN NaN NaN
4   20.423153  20.942352  19.464718  16.968950  13.319124 NaN NaN
5   21.089403  20.903734  19.130999  16.642450  13.168370 NaN NaN
6   19.867844  19.128586  17.753115  14.941748        NaN NaN NaN
7   18.373837  13.281598        NaN        NaN        NaN NaN NaN
8   13.013528        NaN        NaN        NaN        NaN NaN NaN
9   11.829975        NaN        NaN        NaN        NaN NaN NaN
10  12.491660        NaN        NaN        NaN        NaN NaN NaN
11  14.309752  10.648976        NaN        NaN        NaN NaN NaN
12  14.531198  13.101119        NaN        NaN        NaN NaN NaN
13  14.819057  13.544641  14.019818        NaN        NaN NaN NaN
14  12.945321  12.863235  13.033618  13.160026        NaN NaN NaN
15        NaN        NaN        NaN   9.521657        NaN NaN NaN
16        NaN        NaN        NaN        NaN        NaN NaN NaN
17        NaN        NaN        NaN        NaN        NaN NaN NaN
18        NaN        NaN        NaN        NaN        NaN NaN NaN
19        NaN        NaN        NaN        NaN        NaN NaN NaN

In [9]:
print('method 1 = ' + str(df1.mean()))
print('method 2 = ' + str(df2.mean()))
print('max mean = ' + str(df3.mean()))
print('method 3 = ' + str(df4.mean()))
print('method 4 = ' + str(df5.mean()))
print('method 5 = ' + str(df6.mean()))
df6

method 1 = 0    15.300519
dtype: float64
method 2 = 0    16.231348
dtype: float32
max mean = 0    18.522963
dtype: float32
method 3 = 0    15.967151
dtype: float64
method 4 = 0    16.231348
dtype: float32
method 5 = 0    16.231347
dtype: float64

           0
0  16.231347

In [33]:
sum(df1[0])

771970.8180069923

In [15]:
print('method 1 = ' + str(sum(df1[0]) / len[df1][0]))
print('method 2 = ' + str(sum(df2)))
print('max mean = ' + str(sum(df3)))
print('method 3 = ' + str(sum(df4)))
print('method 4 = ' + str(sum(df5)))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [12]:
df1

            0
0   12.189878
0   64.344101
0   59.282726
0   17.252831
0   45.369186
..        ...
0   17.867540
0   56.909782
0   17.447773
0   46.985695
0   28.512535

[27108 rows x 1 columns]

In [14]:
pth_1 = '/home/simonhans/data/prethicktor/RGI/outlines/Millan/'
# rootdir = '~'
dft = pd.DataFrame()
for region_number in range(1,3,1)[:1]:
    print(region_number)
    # if len(str(region_number)) == 1:
    #     N = 1
    #     region_number = str(region_number).zfill(N + len(str(region_number)))
    # else:
    #     str(region_number) == str(region_number)
        
    region_folder = pth_1 + 'RGI-' + str(region_number) + '/'
    for file in (os.listdir(region_folder)[1:2]):

        print(file)
        im = Image.open(region_folder + file)
        im.show()
        imarray = np.array(im)
#         print(imarray.shape)
        df = pd.DataFrame(imarray)
        # print(df.head())
        df = df.replace(0.0, np.nan)
#         # print(df)

#         # mean_glacier_thickness_1 = df.mean().mean()

        mean_glacier_thickness_2 = pd.Series(np.nanmean(df.to_numpy()), name = 'thickness')
        dft = pd.concat(
            [dft, mean_glacier_thickness_2]
        )
#         # mean_by_hand = np.nansum(df) / np.count_nonzero(
#         #             ~np.isnan(df))

#         # print('mean by hand = ' + str(mean_by_hand))
#         # print('df.mean().mean() = ' + str(mean_glacier_thickness_1))
        # print('np.nanmean(df.to_numpy()) = ' + str(mean_glacier_thickness_2))
#         print('')
        # break
    #     break
    # break


# mean_glacier_thickness_1 = df.mean().mean()

# mean_glacier_thickness_2 = np.nanmean(df.to_numpy())

# mean by hand = np.nansum(
#     mean_glacier_thickness) / np.count_nonzero(~np.isnan(mean_glacier_thickness))

        
#         RGI['Farinotti Mean Thickness'].loc[RGI['RGIId'] == file[:14]] = mean_glacier_thickness
    #     break
    # break

1
THICKNESS_RGI-1.2_2021July01.tif

In [15]:
mean_glacier_thickness_2

81.16746

In [6]:
dft

            0
0   81.167458
0  130.740326
0  111.159630
0  210.449890
0   52.275787
0  129.307739
0   37.871696
0  193.966614
0   68.790810

In [5]:
dft.mean() * 101

0    11398.748047
dtype: float32